<div class="modal-header">
  <div class="modal-title">新增角色</div>
</div>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" nzLayout="horizontal">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="name">角色名</nz-form-label>
    <nz-form-control nzSpan="12">
      <input nz-input formControlName="name" id="name" name="name" placeholder="请输入角色名">
      <nz-form-explain *ngIf="name.dirty && name.errors">
        请输入角色名!
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <div nz-row>
    <div nz-col nzSpan="6" nzOffset="6">请分配系统权限</div>
    <div nz-col nzSpan="6">请分配系统菜单</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="6" nzOffset="6">
      <nz-tree #permissionTree nzAsyncData="false" nzCheckable [nzData]="permissions"></nz-tree>
    </div>
    <div nz-col nzSpan="12">
      <nz-tree #menuTree nzAsyncData="false" nzShowIcon="true" nzCheckable [nzData]="menus"></nz-tree>
    </div>
  </div>



  <div class="modal-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="close()" type="button">
      取消
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" type="submit">
      保存
    </button>
  </div>

</form>