<div class="alain-default__content-title">
  <h1> 仪表盘 <small>欢迎回来 !</small></h1>
</div>
<div nz-row nzGutter="16" style="margin: 0 -8px;">
  <div nz-col nzMd="6" nzSm="12" nzXs="24" style="padding: 0 8px;" class="mb-md">
    <div nz-row nzAlign="middle" nzType="flex" class="bg-primary rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">123,456</div>
        <p class="text-nowrap mb0">网站访问量</p>
      </div>
      <div nz-col nzSpan="12">
        <g2-mini-bar borderWidth="3" tooltipType="mini" color="#fff" height="35" [data]="miniBarData"> </g2-mini-bar>
      </div>
    </div>
  </div>

</div>

<div nz-row>

</div>

<div nz-row>

</div>