<page-header></page-header>
<nz-card>
  <form nz-form [nzLayout]="inline" (submit)="query()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="4" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="text">菜单</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.text" name="text" placeholder="请输入" id="text">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col>
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
      </div>

    </div>

  </form>

  <button nz-button [nzType]="'primary'" (click)="add()">
    <i nz-icon type="plus"></i>
    <span>新建</span>
  </button>
  <button nz-popconfirm *ngIf="checkedIds.length>0" nz-button nzType="danger" nzTitle="确定删除选中的记录吗?"
    (nzOnConfirm)="deleteBatchIds()">
    <i nz-icon type="delete"></i>
    <span>批量删除</span>
  </button>

  <div class="my-md"></div>

  <st [columns]="columns" [data]="data.content" [total]="data.totalElements" [pi]="q.page" [ps]="q.size"
    (change)="onChange($event)">
    <!-- 自定义列的渲染 -->
    <ng-template st-row="menu_icon" let-item let-index="index">
      <i nz-icon nzType="{{item.icon}}"></i>
    </ng-template>
  </st>

</nz-card>